
/*This is a comment in CSS*/

body{
    font-family: Verdana, sans-serif;
    margin: 0;
    background-image: url('./images/background.png');
    background-size: cover; /* This scales the image to cover the entire body */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
}

header h1{
    font-size: 35px;
    margin:20px 0;
}
header h2{
    font-size: 20px;
    margin: 0px 0px 40px 0px;
    font-weight: normal;
    font-style: italic;
}

main.documentation-page h3{
    margin-top: 40px;
}

li{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
p{
    font-size: 16px;
    line-height: 1.6em;
    margin: 2.5em 0;
    font-family: Helvetica, sans-serif;
}



}

